.HomePage {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  height: 100vh;
}

.mainScreen {
  width: 100%;
  background: #999999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapperCount {
  position: absolute;
  top: 50px;
}

