.AsidePanel {
  width: 20%;
  height: 100%;
  background: linear-gradient(135deg, #2D3134, #1e2123);
  padding: 5px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #fff;
}

.asidePanelContent {
  display: flex;
  align-items: center;
  flex-direction: column;
  h2 {
    color: #fff;
    margin-bottom: 20px;
    font-weight: 400;
    letter-spacing: 3px;
    text-align: center;
  }  
}

.asideControlButton {
  display: flex;
  justify-content: space-around;
  padding: 10px;
}

.popUpHome {
  position: absolute;
  border-radius: 5px;
  left: 50%;
  top: 30%;
  padding: 10px;
  max-width: 500px;
  background: rgba(0, 0, 0, 0.4);
  font-size: 1.1rem;
  transform: translate(-50%, -50%);
  z-index: 11;
  text-align: center;
  display: flex;
  flex-direction: column;
  color: #fff;
  h3 {
    margin-bottom: 10px;
  }
  p {
    margin: 20px 0;
    font-weight: 100;
  }
  input {
    background: transparent;
    border-bottom: 1px solid #e1900e;
    font-size: 1.1rem;
    margin-bottom: 30px;
    color: #fff;
  }
}