.StoreGame {
  padding: 10px;
  background: #EEEEEE;
  border-radius: 20px;
  width: 60%;
  margin-bottom: 20px;
  h2 {
    text-align: left;
    margin-bottom: 10px;
  }
}
.StoreGameScroll {
  overflow: auto;
  max-height: 300px;
}
.StoreGameScroll::-webkit-scrollbar {
  width: 0px;
}

.wrapperStoreItem {
  display: flex;
  margin: 10px 0;
  padding: 2px;
}

.levelStoreItem {
  width: 80px;
  aspect-ratio: 1 / 1;
  background: #CACACA;
  border-radius: 30%;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapperContentStoreItem {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.contentStoreItem {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  p {
    margin: 5px;
  }
}

.wrapperBtnStoreItem {
  display: flex;
  align-items: center;
  justify-content: center;
  svg {
    color: #175d17;
  }
}
.btnStoreItem {
  display: flex;
  padding: 20px 30px;
  border-radius: 4px;
  box-shadow: 1px 1px 4px rgba($color: #000000, $alpha: .35);
  cursor: pointer;
}