.InputStoreItems {
  display: flex;
  flex-direction: column;
  text-align: left;
  color: #f6f3e1;
  input {
    color: #d5f0a9;
    background: transparent;
    margin-top: 10px;
  }
  label {
    font-weight: 500;
  }
}