.InputStoreItems {
  display: flex;
  flex-direction: column;
  text-align: left;
  color: #000;
  input {
    color: #703BDC;
    background: transparent;
    margin-top: 10px;
  }
  label {
    font-weight: 500;
  }
}