.Store {
  margin: 10px 0;
  width: 100%;
  padding: 5px;
  background: #1F2224;
}
.storeActivate {
  display: flex;
  justify-content: center;
  input {
    margin: 0 10px;
  }
  label {
    color: #fff;
    cursor: pointer;
  }
}

.addStore {
  text-align: center;
  svg {
    color: #fff;
    cursor: pointer;
    font-size: 2rem;
    &:hover {
      transform: scale(1.1);
    }
  }  
}
.storeScroll {
  max-height: 300px;
  overflow: auto;
}
.storeScroll::-webkit-scrollbar {
  width: 0px; 
}