body {
  overflow: hidden;
}
.blackBackground {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgba($color: #000000, $alpha: .6);
  z-index: 10;
}

.popup {
  position: absolute;
  border-radius: 5px;
  left: 50%;
  top: 50%;
  padding: 10px;
  background: #eeeeee;
  font-size: 1.1rem;
  transform: translate(-50%, -50%);
  z-index: 11;
  text-align: center;
  h2 {
    margin-bottom: 20px;
  }
  p {
    margin: 10px 0;
  }
}

.popUpEndGameContent {
  display: flex;
  justify-content: space-around;
}

.popupBtn {
  padding: 5px 30px;
  margin: 20px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 1.1rem;
  background: #c6c6c6;
  transition: .3s ease-in-out;
  &:hover {
    color: #fff;
    background: #8e8e8e;
  }
}

.countdown {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  animation: Timer 1s 4 ease-in-out;
  z-index: 11;
}

@keyframes Timer {
  0% {
    opacity: 1;
    font-size: 10vw;
  }
  100% {
    opacity: 0.4;
    font-size: 20vw;
  }
}