.timerField {
  position: absolute;
  top: 10px;
  width: 50%;
}
.Indicator {
  width: 100%;
  height: 20px;
  border-radius: 5px;
  background: #F8F8F8;
}
.taimerIndicator {
  color: #fff;
  font-size: 2rem;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.progress-bar {
  width: 100%;
  height: 20px;
  background-color: #eee;
  border-radius: 5px;
  overflow: hidden;
}

.progress {
  height: 100%;
  background-color: #703BDC; /* Цвет индикатора */
  transition: width 1s ease-in-out;
  border-radius: 5px;
}